<a href="https://colab.research.google.com/github/mrbarron3/fwe458/blob/main/Homework3/Homework3_Barron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
# imports
import pandas as pd
from google.colab import drive

In [53]:
# Import Data
# mounting drive
drive.mount('/content/drive')

# specify the path to the file
filedir = "/content/drive/MyDrive/Spring '25/FWE458/"

fname = filedir + "MaunaLoaCO2_monthly_sitename.csv"

# read in the csv file
df = pd.read_csv(fname)

df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Year,Month,Decimal_date,Monthly_average,deseasonalized,numofdays,stdofdays,site
0,1958,3,1958.2027,315.70,314.43,-1,-9.99,MaunaLoa
1,1958,4,1958.2877,317.45,315.16,-1,-9.99,MaunaLoa
2,1958,5,1958.3699,317.51,314.71,-1,-9.99,MaunaLoa
3,1958,6,1958.4548,317.24,315.14,-1,-9.99,MaunaLoa
4,1958,7,1958.5370,315.86,315.18,-1,-9.99,MaunaLoa

In [54]:
# Filter Data
# only keep rows NOT from the years 1958 and 2022
df_years = df[(df["Year"] != 1958) & (df["Year"] != 2022)]
print(df_years.head())

# keep only rows with non-negative values in numofdays and stdofdays columns
df_pos = df_years[(df_years["numofdays"] >= 0) & (df_years["stdofdays"] >= 0)]
print(df_pos.head())

    Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
10  1959      1     1959.0411           315.58          315.55         -1
11  1959      2     1959.1260           316.48          315.86         -1
12  1959      3     1959.2027           316.65          315.38         -1
13  1959      4     1959.2877           317.72          315.41         -1
14  1959      5     1959.3699           318.29          315.49         -1

    stdofdays      site
10      -9.99  MaunaLoa
11      -9.99  MaunaLoa
12      -9.99  MaunaLoa
13      -9.99  MaunaLoa
14      -9.99  MaunaLoa
     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
194  1974      5     1974.3750           333.19          330.22         13
195  1974      6     1974.4583           332.20          329.78         25
196  1974      7     1974.5417           331.07          330.21         24
197  1974      8     1974.6250           329.15          330.54         26
198  1974      9     1974.7083           327.33          330.44         22

     stdofdays      site
194       0.31  MaunaLoa
195       0.37  MaunaLoa
196       0.24  MaunaLoa
197       0.31  MaunaLoa
198       0.47  MaunaLoa

In [55]:
# Annual Statistics
# find the mean of the monthly CO2 concentrations for each year
annual_average = df_pos.groupby("Year")["Monthly_average"].mean()
annual_average.head()

Year
1974    329.763750
1975    331.160909
1976    332.026667
1977    333.843333
1978    335.415000
Name: Monthly_average, dtype: float64

In [56]:
# find the mean of the monthly deseasonalized CO2 concentrations for each year
deseasonalized_annual_average = df_pos.groupby("Year")["deseasonalized"].mean()
deseasonalized_annual_average.head()

Year
1974    330.346250
1975    331.072727
1976    332.028333
1977    333.841667
1978    335.413333
Name: deseasonalized, dtype: float64

In [57]:
# find the standard deviation of the monthly CO2 concentrations for each year
std_of_months = df_pos.groupby("Year")["Monthly_average"].std()
std_of_months.head()

Year
1974    2.203789
1975    1.943751
1976    2.085610
1977    1.931882
1978    1.995014
Name: Monthly_average, dtype: float64

In [58]:
# Custom Function
# define the function with a single parameter (co_level)
def co2_categories(co_level):
  # check if the co_level is between certain thresholds and categorize it
  if co_level < 350:
    return "Low"
  elif 350 <= co_level <= 400:
    return "Moderate"
  else:
    return "High"

In [59]:
# apply the previous function on the monthly CO2 concentration column to create a new column with categories
df_pos["CO2_category"] = df_pos["Monthly_average"].apply(co2_categories)
df_pos.head()

<ipython-input-59-1c2885b7f435>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pos["CO2_category"] = df_pos["Monthly_average"].apply(co2_categories)

,Year,Month,Decimal_date,Monthly_average,deseasonalized,numofdays,stdofdays,site,CO2_category
194,1974,5,1974.3750,333.19,330.22,13,0.31,MaunaLoa,Low
195,1974,6,1974.4583,332.20,329.78,25,0.37,MaunaLoa,Low
196,1974,7,1974.5417,331.07,330.21,24,0.24,MaunaLoa,Low
197,1974,8,1974.6250,329.15,330.54,26,0.31,MaunaLoa,Low
198,1974,9,1974.7083,327.33,330.44,22,0.47,MaunaLoa,Low

In [60]:
fname = filedir + "Barron_MaunaLoaCO2_annual_Hw3.csv"
# export the dataframe to my google drive
df_pos.to_csv(fname)